<a href="https://colab.research.google.com/github/gsimba/test-colab/blob/main/template.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Sales Example

In [96]:
#@title
sales = 20000
tax_rate = .24
gross_income = sales * tax_rate

In [94]:
print("Gross income =", gross_income)

Gross income = 4800.0

###Summary

In [95]:
print("Q2 Sales = ", gross_income)

Q2 Sales =  4800.0